body {
    /* 
        Setting up some global rules for the webpage : 

        - default font-family to use for all text
        - default text-color and size
        - remove default margins of the body element
    */

    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}


.top-header {
    /* 
        My solution to display the children block elements horizontally instead of the 
        default vertical, with flexibility in the way to arrange them. 

        Other possible solutions are : using `float: left`, using `display: inline-block',
        using CSS grid.
    */ 
    display: flex;
    justify-content: center;

    margin-top: 40px;
    padding-top: 20px;
    background-color: #f5f5f5;

}


.top-header .nav-menu {
    display: flex;
    /* flex positionning of children */
    align-items: end;
    flex-wrap: wrap;
    column-gap: 30px;


    padding-bottom: 15px;
}

.top-header .nav-menu .menu-item {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.top-header .nav-menu .menu-item.active,
.top-header .nav-menu .menu-item:hover {
    color: #61259e;
}





.page-content {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;

    display: flex;
}



.page-content .left-panel {
    line-height: 2em;
}

/* Rules for screen smaller than desktop */
@media (max-width: 1140px) {
    .page-content {
        flex-direction: column;
    }
}

/* Rules for desktop screen */
@media (min-width: 1141px) {
    .page-content .left-panel {
        width: 66.66%;
        padding-right: 30px;
    }

    .page-content .right-panel {
        width: 33.33%;
        padding-left: 30px;
    }
}

.page-content h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
}

.page-content .content-menu .menu-item {
    color: #999999;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-content .content-menu hr {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #CCCCCC;
}

